<div class="loans-list__pay">
  <h4>Вы должны: {{ store.activeRoom.totalDebt }} руб.</h4>
  <ul>
    <li *ngFor="let myDebt of store.activeRoom.personShouldReturn">
      Вы должны {{ myDebt.person.name }} {{ myDebt.sum }} руб.
    </li>
  </ul>
</div>
<div class="loans-list__get-paid">
  <h4>Вам должны: {{ store.activeRoom.totalLoan }} руб.</h4>
  <ul>
    <li class="" *ngFor="let myLoan of store.activeRoom.personShouldBeReturned">
      {{ myLoan.person.name }} должен вам {{ myLoan.sum }} руб.
    </li>
  </ul>
</div>
