
<ul>
  <li *ngFor="let room of store.rooms" (click)="selectRoom(room.name)" class="selectable" [ngClass]="{'selectable__active': room == store.activeRoom}" >
    {{ room.name }}
  </li>

  <form class="singletone-form rooms-list__form selectable" #newRoomForm="ngForm" (ngSubmit)="addRoom(newRoomForm.value.roomName); newRoomForm.reset()">
    <input
      autocomplete="false"
      type="text" 
      required 
      laceholder="New room"
      name="roomName"
      placeholder="Добавить"
      [(ngModel)]="newRoomName"
      #roomName="ngModel"
    >
    <button [disabled]="!newRoomForm.valid" type="submit"></button>
  </form>

</ul>
