@import "~src/styles/_variables.scss";

:host {
  li, form {
    display: block;
    font-size: 1em;
  }

  .rooms-list__form {
    display: flex;

    input {
      padding-left: 2em;
    }
    
  }
}