<form class="bill-form__form" (submit)="addBill($event)" #billForm="ngForm" ngNativeValidate>
  <div class="bill-form__inputs">
    <div class="bill-form__inline">
      <p>{{store.activeRoom.activePerson.name}} купил</p>

      <input required type="text" [(ngModel)]="billDescription" name="billDescription" placeholder="чипсы, сок и табак">
      <p> за </p>
      <input required type="number" min="1" [(ngModel)]="billTotal" name="billTotal" placeholder="total">
      <p> руб. </p>
    </div>
    <div class="bill-form__persons">
      <p> для </p>
      <label class="selectable person-checkbox"
        [ngClass]="{ selectable__active: isAllSelected()}"
      >
        <input 
          [checked]="isAllSelected()" 
          name="checkAll" 
          type="checkbox"
          (click)="toggleAll()"
        >
        <span>Все</span>
      </label>
      <ng-container
        *ngFor="let person of store.activeRoom.members"
      >
        <label class="selectable person-checkbox" 
          [ngClass]="{ selectable__active: selected[person.name]}"
        >
          <input 
            [(ngModel)]="selected[person.name]" 
            name="billPayers"
            type="checkbox"
          >
          <span> {{ person.name }} </span>
        </label>
      </ng-container>
    </div>
  </div>

  <button class="button-simple sans-serif" [disabled]="selectedCount == 0 || !billForm.valid" type="submit">Добавить</button>
</form>
