@import "~src/styles/_variables.scss";
.app__body {
  display: flex;
  font-family: $sans-serif;
  width: 100%;

  .rooms-list {
    flex-basis: 33.333%;
    min-height: 100vh;
  }

  .room {
    flex-basis: 66.667%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

  }
}