@import "~src/styles/_variables.scss";

:host {
  display: flex;
  align-items: center;
  outline: 1px solid $color-secondary;
  //background-color: $brand-color;

  ul {
    display: flex;
  }


  li {

    display: inline-block;
    margin: 0.5em;
    &.active {
      background: red;
    }
  }
  &__list {

  }
}
